@import url('https://rsms.me/inter/inter.css');

@font-face {
    font-family: Camilen;
    src: url('./font/Camilen/Camilen.otf'),
         url('./font/Camilen/Camilen.ttf');
}
@font-face {
    font-family: Caslon;
    src: url('./font/caslon-pro/ACaslonPro-Regular.otf');
}

@font-face {
    font-family: CaslonBold;
    src: url('./font/caslon-pro/ACaslonPro-Bold.otf');
}
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}

@font-face{
    font-family: "Wigrum";
    src: url('../font/wigrum-black/Wigrum-Regular.otf');
}